@using FirstHomeBrew.Content.Resources
@{
    ViewBag.Title = "Brew Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Brew Day</h1>
<h2>Minimum necessary equipment:</h2>
<ul>
    <li>Assembled and leak-tested brew kettle</li>
    <li>Assembled and leak-tested propane burner</li>
    <li>Carboy</li>
    <li>Airlock and bung</li>
    <li>Sanitizing bucket</li>
    <li>Star San</li>
    <li>6 gallons of distilled water</li>
    <li>Ingredients kit</li>
    <li>Stirring paddle</li>
    <li>Auto siphon</li>
    <li>Clear and plastic tubing</li>
    <li>Zip tie or hose clamp</li>
</ul>

<h2>SANITIZE, SANITIZE, SANITIZE!</h2>
<img class="standalone-img" alt="sanitizing bucket" src="https://docs.google.com/uc?id=1Y-02mVfL4IkUkbMERn7GdP_5L7GbJJ7QLw" />
<p>
    You could slack on many other steps and still end up with drinkable material if you just
    get this step right. Clean your brewing equipment with
    <a target="_blank" rel="nofollow" href="@Html.Raw(ProductLinks.OxiClean)">Oxiclean</a> before
    sanitizing the equipment. You should only be putting squeaky clean equipment into your
    <a target="_blank" rel="nofollow" href="@Html.Raw(ProductLinks.StarSan)">Star San (sanitizer)</a>
    mixture. Create the mixture by adding 1 oz. of Star San to a bucket filled with 5 gallons 
    of tap water.  I usually put all of my equipment not needed for boiling into the Star San mixture and let
    it sit there while I boil. When the boil is complete and the wort is cooling, I rack (transfer)
    sanitizer from the sanitizing bucket into the carboy and let it sit for a while. Make sure that
    sanitizer comes into contact with the entire inside surface of the carboy. After about 2 minutes,
    rack the sanitizer back into the sanitizing bucket.
</p>

<h2>Steep your specialty grains.</h2>
<img class="standalone-img" alt="steeping grains" src="https://docs.google.com/uc?id=0B85D69XD8RQoV1ZvZTN5NFBYU2s" />
<p>
    The <a target="_blank" rel="nofollow" href="@Html.Raw(ProductLinks.IngredientsKit)">ingredients kit</a>
    that I've recommended comes with specialty grains that need to be steeped separately from the rest
    of the ingredients. Pour 5 gallons of distilled water into your brew kettle, and ignite the propane burner.
    Leave the propane burner on close to full blast so that the water heats up quickly. As per the instructions
    that come with the ingredients kit, heat the water to about 160° F. Lower the heat so that 160° F is maintained.
    Put all the grains into the mesh bag and tie a loose knot. I usually tie my steeping bag to
    the handle on the brew kettle so that the bag does not sit on the bottom of the kettle and get scorched. 
    Steep the grains for 15 minutes.  Remove the specialty grains from the water and discard them.  
</p>

<h2>Adding malt extract</h2>
<p>
    Be careful with this step or you'll scorch your malt. Bring the water to a steady boil. Remove the kettle
    from the flame with potholders or gloves. Quickly add all of your liquid malt extract and dry malt extract
    to the water while stirring. Once you're confident it's all mixed up well, return the kettle to the burner
    and bring the mixture back up to a steady boil. Once you see the mixture start to boil, start your timer.
</p>

<h2>Adding hops</h2>
<p>
    With your timer started, follow the hop schedule that came with your kit. When you add a package of hops,
    gently stir them in. Hops added at different times have different effects on flavor and aroma. See
    <a href="http://howtobrew.com/book/section-1/hops/how-are-they-used">this link</a> for more information on that topic.
    You should boil your wort for a full hour.
</p>

<h2>Cooling the wort</h2>
<p>
    This takes a little while, so be patient. As soon as the 1 hour boil is completed, put the lid on your kettle and
    prepare your kitchen sink with ice water. Take your kettle inside and drop it in the ice water.
    The heat from the kettle will quickly warm up the ice water. 
    I take my kitchen faucet nozzle and submerge it in the sink, turn on the faucet, and then let cold water
    flow around the base of the kettle. Using this method, I can usually get my wort down to the desired 75° F
    in about 30 minutes.  The faster you can do it, the less risk there is of contamination.
</p>

<h2>Transferring the wort to the carboy</h2>
<iframe src="https://drive.google.com/file/d/1Wj83zhaXRwWjpNct4fAbqu4O8I21G-jBHA/preview" width="640" height="480"></iframe>
<p>
    Make sure you have sanitized your carboy as described above. Connect the silicone tubing to the
    spigot on your kettle, and secure it with either a hose clamp or zip tie. Place the other end of
    the silicon tubing into you carboy and let it dangle as high up in the carboy as possible. With your
    kettle resting several feet above your carboy (via shelves or whatever you have), gently open the spigot. As
    wort starts to flow, oxygenate it by sloshing it around.
</p>

<h2>Adding the yeast</h2>
<p>
	I recommend giving <a href="http://www.northernbrewer.com/connect/2010/06/the-importance-of-being-hydrated/">this article</a> a read, but
	you should generally consider rehydrating your yeast before adding it to your wort. It is very important that your wort be completely cooled
	before adding the yeast or you will kill the yeast cells. I like to just take about 1 cup of tap water, boil it, let it cool to about 95&deg;F, and
	then add the yeast to that water. Pour the yeast and water mixture directly into the carboy. Use your sanitized paddle to gently stir the yeast
	so that it is mixed evenly throughout the wort to ensure that the yeast cells can quickly get to work on eating some sugar.
</p>
<p>
	As soon as you're done adding the yeast, grab your <a target="_blank" rel="nofollow" href="@Html.Raw(ProductLinks.Airlock)">airlock</a> and
	fill it up to the line with sanitizer mixture. Put the airlock + bung into the hole in the lid to your carboy. Make sure that the pieces fit
	together tight so that no air can enter.
</p>

<h2>Storing the carboy for fermentation</h2>
<p>
	Since this is a beginner lesson, we're making beer that uses ale yeast. Ale yeast like warmer temperatures than lager yeast. Lager yeast
	prefer temperatures that require some refrigeration (i.e. more equipment and precision). You can generally brew a successful ale like
	the one in your <a target="_blank" rel="nofollow" href="@Html.Raw(ProductLinks.IngredientsKit)">ingredients kit</a> without additional equipment.
	"Room temperature" will suffice, but I've found that 70&deg; F is a good temperature to shoot for. If you get up around 75&deg;, you could
	end up with some undesirable off-flavors or aromas.
</p>

<p>
	You will also want to ensure that no light can enter your carboy. If you keep the box that it ships in, you can just place it upside down on
	top of the carboy. A dark towel or something will also work, as long as it doesn't have strong insulating properties. You're not trying to keep
	your beer warm, you're trying to keep the light out of it.
</p>

<p>
	Finally, for Pete's sake, don't open your carboy a bunch to take a whiff or stare at it. Any time you open it, you are letting ambient air that
	contains bacteria into the carboy. You can get a whiff while fermentation is happening by smelling the air that bubbles out of the airlock. It's
	OK to take a peek at the carboy itself once in a while, but do it quick so that the light you're letting in doesn't cause off-flavors.
</p>
