@using FirstHomeBrew.Content.Resources
@{
    ViewBag.Title = "Equipment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipment List</h1>
<p>
	I chose all of this equipment with an emphasis on quality, ease-of-use, and scalability. I want you to be able to step
	your brewing game up after you learn the basics, but I don't want you to have to throw all of this stuff away. You should
	be able to use all of this equipment in the future, even when your brewing skills progress.
</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>Carboy</h2>
			<p>
				@Html.Raw(ProductImageLinks.Carboy) <br/>
				The <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Carboy)">Big Mouth Bubbler 6.5 gallon plastic carboy</a></strong>
				is a solid choice for several reasons. Cleaning your equipment is time consuming, and this carboy has a
				really wide neck to get stuff in and out with ease. It's also made out of PET plastic instead of glass, so it's
			    safer to handle. Do me a favor and perform a
			    <strong><a href="https://www.google.com/search?q=broken+carboy&safe=off&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjAx-Opzc3LAhVDx4MKHb_zAjQQ_AUICCgC&biw=1920&bih=971" target="_blank">Google Images search for "broken carboy."</a></strong>
                 Now, tell
			    me you're not afraid of doing that to yourself! The lid has a perfectly-sized hole for the airlock. <br/>
			    PRO TIP: Keep the box that this thing ships in. It makes a good cover to keep the light from getting to
                the wort while it's fermenting.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Brew Pot</h2>
			<p>
				@Html.Raw(ProductImageLinks.BrewPot) <br/>
				<strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BrewPot)">HomeBrewStuff's 32 quart pot with bazooka screen</a></strong>
				will make your life easier. It has a built-in spigot to make transferring your wort to your carboy easier and less susceptible
				to contamination. 32 quart = 8 gallons, which is plenty big for a 5 gallon brew (you definitely want some extra room). The bazooka screen
				greatly reduces the amount of particulates that make their way into your carboy.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Propane Burner</h2>
			<p>
				@Html.Raw(ProductImageLinks.Burner) <br/>
				The <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Burner)">Darkstar 2.0 propane burner</a></strong>
				will bring your wort to a boil very quickly. It has a nice wind guard so that you can brew outside. Trust me, your wife/girlfriend/parents/whoever
				will want you to brew outdoors. It also has an adjustable regulator so that you can control the strength of your flame, and thus, you won't
				burn up your wort. Finally, it's wide enough and powerful enough for you to use on larger brews in the future (up to 20 gallons).
			</p>
		</div>
	</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Airlock and Bungs</h2>
            <p>
                @Html.Raw(ProductImageLinks.Airlock) <br/>
                An <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Airlock)">airlock</a></strong> allows
                carbon dioxide to escape during the fermentation process, but prevents ambient air from getting to your wort and contaminating it. The
                bungs (rubber connectors) fit perfectly into the carboy above.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Bottling Bucket</h2>
            <p>
                @Html.Raw(ProductImageLinks.BottlingBucket) <br/>
                This <strong><a rel="nofollow" target="_blank" href="@ProductLinks.BottlingBucket">6.5 gallon "Ale Pail" with spigot and lid</a></strong>
                makes getting your beer out of your carboy and into bottles a lot easier. You can slip a little piece of plastic tubing onto
                the spigot to control the flow and fill the bottles to a precise level.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Siphon</h2>
            <p>
                @Html.Raw(ProductImageLinks.Siphon) <br/>
                You'll need an <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Siphon)">auto-siphon</a></strong>
                to get your beer from your carboy to your bottling bucket. Racking your beer directly from your carboy to bottles is more of a hassle
                than racking it to a bottling bucket first.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Capper</h2>
            <p>
                @Html.Raw(ProductImageLinks.Capper) <br/>
                The <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Siphon)">Red Baron bottle capper</a></strong> will get the job
                done.  Be careful not to put too much pressure when capping or you could break either the capper or the bottle neck.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Bottle Filler</h2>
            <p>
                @Html.Raw(ProductImageLinks.BottleFiller) <br/>
                Using a <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BottleFiller)">bottle filler</a></strong> will
                help you avoid making a big mess and losing a lot of beer. It will also speed up the bottle-filling process quite a bit. The
                spring tip will allow you to start and stop the flow of the beer without having to open and close the spigot on the bottling bucket.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Bottle Drying Rack</h2>
            <p>
                @Html.Raw(ProductImageLinks.BottleDryingRack) <br/>
                The <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BottleDryingRack)">FastRack bottle drying rack</a></strong> 
                is stackable and lightweight. It takes up the least amount of space possible for 48 bottles. You can even buy additional racks to stack on top
                of these to be able to dry additional bottles. Each level of the rack holds 24 bottles. The link above takes you to the 48 bottle version
                that has the base and two 24-bottle racks.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Hydrometer</h2>
            <p>
                @Html.Raw(ProductImageLinks.Hydrometer) <br />
                A <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Hydrometer)">hydrometer</a></strong> allows you to take
                specific gravity readings and determine the approximate alcohol by volume of your finished product.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Plastic Tubing</h2>
            <p>
                @Html.Raw(ProductImageLinks.PlasticTubing) <br/>
                Use 3/8" <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.PlasticTubing)">plastic tubing</a></strong> for your auto-siphon
                and bottling bucket.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Silicon tubing</h2>
            <p>
                @Html.Raw(ProductImageLinks.SiliconeTubing) <br/>
                Use 1/2" <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.SiliconeTubing)">silicone tubing</a></strong> for transferring your wort
                from your brew kettle to your carboy.  Silicon tubing is better for transferring warm liquids.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Star San (sanitizer)</h2>
            <p>
                @Html.Raw(ProductImageLinks.StarSan) <br/>
                <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.StarSan)">Star San</a></strong> is a rinse-free sanitizer. Basically, it reduces the PH
                of water to a level that kills bacteria. You can sanitize your equipment by mixing 1 oz. of Star San with 5 gal. of tap water, and placing the equipment
                inside the mixture for ~2 minutes. After removing your equipment from the Star San mixture, it will be sanitized and can come into contact with your
                wort without any negative side effects.
            </p>
        </div>
        <div class="col-md-4">
            <h2>OxiClean (or any scent-free, dye-free detergent)</h2>
            <p>
                @Html.Raw(ProductImageLinks.OxiClean) <br />
                <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.OxiClean)">OxiClean</a></strong> makes a scent-free, dye-free version of their product
                that does a great job of cleaning brewing equipment. I clean my brewing equipment in my bath tub and use the hand-held shower head to quickly
                rinse everything.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Food Thermometer</h2>
            <p>
                @Html.Raw(ProductImageLinks.FoodThermometer) <br />
                A <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.FoodThermometer)">food thermometer</a></strong> is necessary to test the temperature
                of the water you use to rehydrate your yeast. Obviously you can use it to test the temperature of other things as well.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Ingredients Kit</h2>
            <p>
                @Html.Raw(ProductImageLinks.IngredientsKit) <br/>
                Brewer's Best makes solid <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.IngredientsKit)">ingredients kits</a></strong>. This one is an
                IPA, which is among the easiest styles to successfully brew for your first attempt. The key here is that the ideal fermenting temperature for IPAs is very close
                to room temperature. You can use a kit for a different style if you'd like, but pay special attention to the ideal fermenting temperature and be sure that you
                can facilitate an evironment that matches that temperature.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Distilled Water</h2>
            <p>
                I use distilled water when brewing simply because I don't really like the taste of my tap water at home. In addition, you can assume that distilled water is
                100% bacteria-free. Since it is bacteria-free, it makes it easier to bring your cooled wort to exactly 5 gallons without risk of infection
                by simply pouring in distilled water and stirring.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Propane</h2>
            <p>
                Obviously you will need propane to boil your wort. You can give boiling on your stove a shot if you'd like, but it will stink up your house hard core.
                You also risk making a serious mess in your kitchen. Finally, your stove will take for-freaking-ever to bring 5 gallons of water to a boil.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Roger click below!!!</h2>
            <p>@Html.Raw(ProductImageLinks.Roomba)</p>
        </div>
    </div>
</div>