@using FirstHomeBrew.Content.Resources
@{
    ViewBag.Title = "Equipment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipment List</h1>
<p>
	I chose all of this equipment with an emphasis on quality, ease-of-use, and scalability. I want you to be able to step
	your brewing game up after you learn the basics, but I don't want you to have to throw all of this stuff away. You should
	be able to use all of this equipment in the future, even when your brewing skills progress.
</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>Carboy</h2>
			<p>
				@Html.Raw(ProductImageLinks.Carboy) <br/>
				The <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Carboy)">Big Mouth Bubbler 6.5 gallon plastic carboy</a></strong>
				is a solid choice for several reasons. Cleaning your equipment is time consuming, and this carboy has a
				really wide neck to get stuff in and out with ease. It's also made out of PET plastic instead of glass, so it's
				safer to handle. Do me a favor and perform a Google Images search for "broken carboy." Now, tell
				me you're not afraid of doing that to yourself! The lid has a perfectly-sized hole for the airlock.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Brew Pot</h2>
			<p>
				@Html.Raw(ProductImageLinks.BrewPot) <br/>
				<strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.BrewPot)">HomeBrewStuff's 32 quart pot with bazooka screen</a></strong>
				will make your life easier. It has a built-in spigot to make transferring your wort to your carboy easier and less susceptible
				to contamination. 32 quart = 8 gallons, which is plenty big for a 5 gallon brew (you definitely want some extra room). The bazooka screen
				greatly reduces the amount of particulates that make their way into your carboy.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Propane Burner</h2>
			<p>
				@Html.Raw(ProductImageLinks.Burner) <br/>
				The <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Burner)">Darkstar 2.0 propane burner</a></strong>
				will bring your wort to a boil very quickly. It has a nice wind guard so that you can brew outside. Trust me, your wife/girlfriend/parents/whoever
				will want you to brew outdoors. It also has an adjustable regulator so that you can control the strength of your flame, and thus, you won't
				burn up your wort. Finally, it's wide enough and powerful enough for you to use on larger brews in the future (up to 20 gallons).
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Airlock and bungs</h2>
			<p>
				@Html.Raw(ProductImageLinks.Airlock) <br />
				An <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Airlock)">airlock</a></strong> allows
				carbon dioxide to escape during the fermentation process, but prevents ambient air from getting to your wort and contaminating it. The
				bungs (rubber connectors) fit perfectly into the carboy above.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Bottling Bucket</h2>
			<p>
				@Html.Raw(ProductImageLinks.BottlingBucket) <br/>
				This <strong><a rel="nofollow" target="_blank" href="@ProductLinks.BottlingBucket">6.5 gallon "Ale Pail" with spigot and lid</a></strong>
				makes getting your beer out of your carboy and into bottles a lot easier. You can slip a little piece of plastic tubing onto
				the spigot to control the flow and fill the bottles to a precise level.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Siphon</h2>
			<p>
				@Html.Raw(ProductImageLinks.Siphon) <br/>
				You'll need an <strong><a rel="nofollow" target="_blank" href="@Html.Raw(ProductLinks.Siphon)">auto-siphon</a></strong>
				to get your beer from your carboy to your bottling bucket. Racking your beer directly from your carboy to bottles is more of a hassle
				than racking it to a bottling bucket first.
			</p>
		</div>
	</div>
</div>