<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Brew your first beer - @ViewBag.Title</title>
	<link rel="shortcut icon" href="/Content/Images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/Content/Images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300italic,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
	    var appInsights=window.appInsights||function(config){
		    function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
	    }({
		    instrumentationKey:"60245053-ad73-4602-bd52-0ec9cacd0c84"
	    });
        
	    window.appInsights=appInsights;
	    appInsights.trackPageView();
    </script>
</head>
<body>
<div id="mobileMenu">
	@*<div class="row mobile-nav-header-wrapper">
		<div class="col-xs-5">
			<img class="mobile-nav-icon" src="~/Content/Images/beer-icon-transparent.png" alt="Beer Icon"/>
		</div>
		<div class="col-xs-7">
			<h1 class="mobile-nav-header">First Home Brew</h1>
		</div>
	</div>*@
</div>
<div id="nav">
	<ul id="menu">
		<li class="nav-item-icon"><img src="~/Content/Images/beer-icon.png" alt="Beer Icon"/></li>
		<li><a href="@Url.Action("Index", "Home")">Home</a></li>
		<li><a href="@Url.Action("Index", "Preparation")">Preparation</a></li>
		<li><a href="@Url.Action("Index", "BrewDay")">Brew Day</a></li>
		<li><a href="@Url.Action("Index", "Fermentation")">Fermentation</a></li>
		<li><a href="@Url.Action("Index", "Bottling")">Bottling</a></li>
		<li><a href="@Url.Action("Index", "Equipment")">Equipment List</a></li>
	</ul>
	<div class="clear"></div>
</div>

<div class="main">
	@RenderBody()
    <br/>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/navigation")
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
@Scripts.Render("~/bundles/carousel")
@RenderSection("scripts", required: false)
</body>
</html>
